/*------------------------------Universal Styles------------------------------*/

html    {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body    {
    margin: 0;
}

.whole-page-container   {
    margin: 0 auto;
    max-width: 75rem; /*prevents the grid from creating a third column*/    
}

.flex-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
}

#background-img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.2;
    object-fit:cover;
}



/*------------------------------Grid Container------------------------------*/

.main-grid-container    {
    display: grid;
    height: 100vh;
    min-height: 700px;
    gap: 1rem;
    grid-template-rows: repeat(auto-fit, minmax(15rem, 100%));
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}



/*------------------------------Grid Header------------------------------*/

header  {
    height: 100%;
    justify-content: center;
    color: black;
    background-color: rgba(36, 32, 56, 0);
}

header h1,
header h2   {
    text-shadow: 0.5rem 0.5rem 5px rgba(0, 0, 0, 0.3);
}

.picture    {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 15rem;
    overflow: hidden;
    justify-content: center;
}

.picture img    {
    width: 100%;
    object-fit:cover;
}



/*------------------------------Grid Main Content------------------------------*/

main    {
    grid-column: 1/-1;
    height: 100%;
    text-align: center;
    justify-content: space-evenly;
    color: white;
    background-color: rgba(36, 32, 56, 0.8);
}

main p   {
    font-size: 1.2rem;
    margin: 3vh;
}

main #link-to-projects {
    font-size: 1rem;
    border-style: none;
    margin: 3vh;
    padding: 1rem;
    background-color: white;
    text-decoration: none;
    color: darkblue;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 0.4s;
}

main #link-to-projects:hover   {
    text-decoration-color: darkblue;
}



/*------------------------------Grid Projects------------------------------*/
#projects-page {
    display: grid;
    height: 100%;
    width: 100%;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

#projects-page .grid-header    {
    grid-column: 1/-1;
    justify-content: center;
    background-color: rgba(36, 32, 56, 0.8);
}

#projects-page .grid-element    {
    justify-content: center;
}


#projects-page p    {
    margin: 1rem;
}

#projects-page .grid-element img    {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    opacity: 0.5;
    transition: opacity 0.4s;
}

#projects-page .grid-element:hover img    {
    opacity: 1;
}



/*------------------------------Grid Footer------------------------------*/

footer  {
    grid-column: 1/-1;
    height: 100%;
    justify-content: space-evenly;
    background-color: rgba(36, 32, 56, 0.2);
}

footer .logos  {
    display: flex;
    width: 70%;
    margin: 2rem;
    align-items: center;
    justify-content: space-evenly;
}

footer .logos img  {
    height: 5rem;
}

footer .contact    {
    display: flex;
    flex-flow: wrap;
    width: 70%;
    height: 30%;
    margin: 2rem;
    justify-content: space-evenly;
    align-content: space-evenly;
}

footer .contact a  {
    display: inline-flex;
    margin: 0.2rem 1rem;
    font-size: 1.2rem;
    color: darkblue;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 0.4s;
}

footer .contact a:hover   {
    text-decoration-color: darkblue;
}


footer .contact img    {
    height: 1.5rem;
    margin-right: 0.5rem;
}
/* 
footer .author  {
    display: flex;
    flex-flow: column;
    align-items: center;
} */



/*------------------------------Responsive Font Size------------------------------*/

@media only screen and (orientation:portrait) and (min-resolution: 190dpi)   {
    header  {font-size: 1.5vh;}
    main   {font-size: 2vh;}
    main p  {font-size: 1.5vh;}
    main #link-to-projects {font-size: 2vh;}
    #projects-page .grid-element p  {margin-bottom: 5vh;}
    footer .logos img  {height: 5vh;}
    footer  {font-size: 1.5vh;}
    footer .contact a    {font-size: 1.5vh;}
    footer .contact img {height: 1.5vh;}
}

@media only screen and (orientation:landscape) and (min-resolution: 190dpi)   {
    header  {font-size: 2vw;}
    main    {font-size: 2vw;}
    main p  {font-size: 1.8vw; margin: 5vw;}
    main #link-to-projects {font-size: 2vw; margin: 5vw;}
    footer  {font-size: 2vw;}
}