
/*-----Universal Styles-----*/

html    {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body    {
    margin: 0rem;
}

.general    {
    display: grid;
    width: 70vw;
    height: 100vh;
    align-items: center;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
}



/*-----Nav Bar-----*/

nav {
    display: flex;
    position: fixed;
    margin: 0rem 10vw;
    justify-content: flex-start;
}

nav a {
    padding: 0.5rem;
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    background-color: black;
    box-shadow: 0.5rem 0.5rem 5px grey;
}



/*-----Grid-----*/

#title   {
    grid-area:  title;
    margin-left: 20%;
}

#info    {
    grid-area: phar;
    margin-left: 20%;
    margin-right: 10%;
}

#pic    {
    grid-area: img;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    box-shadow: 1rem 1rem 5px grey;
}

#logos  {
    grid-area: logos;
    display: flex;
    width: 100%;
    height: 30%;
    overflow: hidden;
    justify-content: center;
}

footer  {
    grid-area: footer;
    display: flex;
    align-items: center;
    flex-flow: column;
    font-size: 0.7rem;
}



/*-----Home Page-----*/

#home-page  {
    grid-template: 2fr 3fr 3fr 2fr 0.3fr / 2fr 1fr;
    grid-template-areas:    "empty img"
                            "title img"
                            "phar img"
                            "logos logos"
                            "footer footer";
}

#logos  img {
    margin: 0rem 1rem;
    opacity: 0.8;
}

#home-page p  {
    font-size: 1.1rem;
}



/*-----Projects Page-----*/

#projects-page  {
    grid-template: 2fr 3fr 3fr 2fr 0.3fr / 2fr 1fr;
    grid-template-areas:    "empty img"
                            "title img"
                            "phar img"
                            "logos logos"
                            "footer footer";
}



/*-----Contact Page-----*/

#contact-page   {
    grid-template: 2fr 3fr 3fr 2fr 0.3fr / 2fr 1fr;
    grid-template-areas:    "empty img"
                            "title img"
                            "phar img"
                            "logos logos"
                            "footer footer";
}

#info a    {
    display: flex;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-decoration: none;
}

#info img    {
    width: 2rem;
    margin-right: 1rem;
}